<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>I love Ikea | Sale Notifier</title>
<style>
    *{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    background-color: var(--mainColor);
    border: 2px #004E9D solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 750px;
    margin: 150px;
    padding: 45px;
    height: auto;
    border-radius: 20px;
}

.instructions{
    width: 100%;
    font-size: 90%;
    color: rgb(37, 37, 37);
    margin: 40px 0 10px 0;
    
}

.formHolder{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

#urlInput{
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    margin-top: 30px;
}

#emailInput{
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    margin-top: 6px;
}

#saleInput{
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    margin-top: 20px;
}

.subBtn{
    background-color: #004E9D;
    color: white;
    border: none;
    width: 12%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.searching{
    color: rgb(37, 37, 37);
    margin-top: 40px;
    font-size: 300%;
}
</style>
