<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="card" href="/">
        <div class="logo"><img src="/images/ikeaPic.png"></div>
        <h1 class="searching">This application is working...</h1>
    </div>
</body>
</html>